*{
    white-space:nowrap;
    box-sizing:border-box;
}

#titlecontainer,
#everythingelsecontainer{
    margin-left:7%;
    margin-right:7%;
    margin-top:25px;
    border:15px double rgb(17, 243, 126);
    border-radius:3%;
}
#title{
    font-family:'Common Pixel', sans-serif;
    font-size:90px;
    text-align:center;
}

#everythingelsecontainer{
    display:flex;
}

#colorbuttons,
#settingsbuttons{
    /* white-space:nowrap; */
    flex-wrap:nowrap;
    border:2px solid black;
    border-radius:10px;
    margin:20px;
    display:flex;
    flex-grow:1;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width:300px;
}

.btnsquare{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border:2px solid black;
    border-radius:5px;
}

.btnlabel{
    margin:05px;
    font-size:x-large;
    /* border:2px solid black; */
}

.btncolor{
    margin-left:20px;
    margin-right:10px;
    padding:0px;
    /* border:2px solid black; */
    /* width:30px;
    height:20px; */
}
.btn{
    border:1px solid black;
    width:48px; /*Same width/height as the color button input (on Chrome)*/
    height:25px;
    padding-left:10px;
    padding-right:20px;
    padding-top:1px;
    padding-bottom:1px;
    border-radius:1px;
}
/* #settingsbuttons{
    display:flex;
    flex-direction:column;
} */

#padcontainer{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    border: 2px solid black;
    width:500px;
    height:500px;
    flex-shrink:0;
}

.row{
    display:flex;
    flex:1;
}

.square{
    flex: 1;
}

.border{
    border:1px solid rgba(0,0,0,0.5);
}

.darkBorder{
    border:1px dotted rgba(0,0,0,1);
}

.opaque{
    opacity:1;
}

.toggled{
    transform:scale(0.98);
    background-color:gray;
}


